.Video{
    width: 100%;
    margin: 0;
    float: left;
  
}

.card{
    width: auto;
}

.card-body{
    width: 10em;
}
.card-deck{
    /* display: contents; */
    /* content: normal; */
    width: fit-content;
    margin-bottom: auto;
}